/* HomePage.css */
/* Additional styles for App component */

/* Header styles */
header {
    background-color: #8743a9;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    border-radius: 7px;
}

header h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff; /* Sets the text color to white for both h1 and h2 */
    margin: 0; /* Removes default margins */
}

header h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff; /* Sets the text color to white for both h1 and h2 */
    margin: 0; /* Removes default margins */
}

/* Navigation menu styles */
nav {
    background: #6a2f86;
    padding: 20px 20px 10px 20px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #1E88E5;
}

nav ul li:last-child a {
    color: #c2c2c2; /* Replace #desiredColor with the color you want for the last item */
}

nav ul li:last-child a:hover {
    color: #1E88E5; /* Hover color for the last item */
}

/* Footer styles */
footer {
    background-color: #dbb1e3;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

footer a {
    color: #2196F3;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #1E88E5;
}

/* Responsive styles for navigation */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }

    textarea {
        padding: 8px; /* Slightly smaller padding on smaller screens */
    }
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #4c2661; /* Updated background color */
    padding: 20px;
    margin: 0;
}

.header {
    width: 100%;
}

.round-image {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border: 5px solid #4c2661;
}

.arrow {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    display: flex;
    align-items: center; /* This will vertically center the items */
    justify-content: center; /* This will horizontally center the items */
}

.text-container {
    max-width: 600px; /* Adjust the max-width as needed */
    margin-left: 50px; /* Add some space between the image and the text */
    text-align: center; /* Center the text inside the text container */
}

section {
    background: #dbb1e3;
    margin: 20px 0;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.benefits-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    grid-gap: 20px; /* Space between cards */
    padding: 0;
}

.benefits-card-container > div {
    font-size: 14px;
    background: #f6dcfc; /* Card background */
    border-radius: 7px; /* Card border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Card shadow */
    padding: 15px; /* Card padding */
    transition: box-shadow 0.3s ease-in-out;
}

.benefits-card-container > div:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Optional: If you want to ensure that there are only two rows, you can set a specific height for the cards */
.benefits-card-container > div {
    height: auto; /* Adjust the height as needed, or use 'auto' for content-based height */
    overflow: hidden; /* Ensures the content does not overflow the card */
}

.benefits-card-container > div > h3::before {
    content: "✨ ";
}

/* Responsive adjustments if needed */
@media (max-width: 992px) {
    .benefits-card-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
    }
}

@media (max-width: 768px) {
    .benefits-card-container {
        grid-template-columns: 1fr; /* One column for even smaller screens */
    }
}

.function-card-container {
    display: grid;
    grid-gap: 20px; /* Space between cards */
    padding: 0;
}

.function-card-container > div {
    font-size: 14px;
    background: #f6dcfc; /* Card background */
    border-radius: 7px; /* Card border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Card shadow */
    padding: 15px; /* Card padding */
    transition: box-shadow 0.3s ease-in-out;
}

.function-card-container > div:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Optional: If you want to ensure that there are only two rows, you can set a specific height for the cards */
.function-card-container > div {
    height: auto; /* Adjust the height as needed, or use 'auto' for content-based height */
    overflow: hidden; /* Ensures the content does not overflow the card */
}

.function-card-container > div > h3::before {
    content: "✅ ";
}

.advice-card-container {
    display: grid;
    grid-gap: 20px; /* Space between cards */
    padding: 0;
}

.advice-card-container > div {
    font-size: 14px;
    background: #f6dcfc; /* Card background */
    border-radius: 7px; /* Card border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Card shadow */
    padding: 15px; /* Card padding */
    transition: box-shadow 0.3s ease-in-out;
}

.advice-card-container > div:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Optional: If you want to ensure that there are only two rows, you can set a specific height for the cards */
.advice-card-container > div {
    height: auto; /* Adjust the height as needed, or use 'auto' for content-based height */
    overflow: hidden; /* Ensures the content does not overflow the card */
}

.advice-card-container > div > h3::before {
    content: "👉 ";
}

h1 {
    color: #444;
}

h2 {
    margin-bottom: 10px;
    color: #444;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

p {
    margin-bottom: 16px;
}

.price {
    font-size: 50px;
    color: #4c2661;
    font-weight: bold;
    text-align: center;
}

.price-desc {
    font-size: 20px;
    color: #4c2661;
    text-align: center;
}

.price-card {
    max-width: 500px;
    margin: 10px auto;
    font-size: 14px;
    background: #f6dcfc; /* Card background */
    border-radius: 7px; /* Card border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Card shadow */
    padding: 15px; /* Card padding */
    transition: box-shadow 0.3s ease-in-out;
}

.price-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.price-reason {
    text-align: center;
}

.price-reason::before {
    content: "✅ ";
}

button {
    background-color: #6a2f86;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

button:hover {
    background-color: #4c2661;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

button:active::before {
    width: 300px;
    height: 300px;
    opacity: 1;
    transition: width 0.5s ease, height 0.5s ease, opacity 0s ease 0.5s;
}

ol, ul {
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #6d3688;
    font-size: 12px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    section {
        margin: 10px 0;
    }

    button {
        width: 100%;
        box-sizing: border-box; /* Ensures padding doesn't add to the width */
    }
}

/* Styles for textarea */
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    resize: vertical; /* Allows vertical resizing, you can use 'both' if you want horizontal resizing as well */
}

/* Styles for error message box */
.error-message-box {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Darker red text color for contrast */
    padding: 10px;
    border-radius: 7px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
}

/* Styles for OK message box */
.ok-message-box {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Darker green text color for contrast */
    padding: 10px;
    border-radius: 7px;
    margin: 10px 0;
    border: 1px solid #c3e6cb;
}

.ending {
    display: grid;
    justify-items: center;
}
